.login{
	margin-top: calc(100vh);
	padding: 25px;
	box-shadow: 10px 10px 5px #888888
}
.loginDiv {
	margin-top: 50px;
}

section.wrong{
	background: #18BC9C;
	color: #fff;
    padding-top: 200px;
}
section.maombi{
    min-height:calc(95vh);
}
span.marks{
    color:#000;
    font-weight:bold;
}
.footer-below {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}